/* AboutPage.css */

.about-container {
  background-color: #1a1a1a; /* Dark gray background */
  height: 100vh;
  display: flex;
  align-items: center;
}

.about-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .about-content {
    flex-direction: row;
  }
}

.about-image {
  flex: 1;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-right: 50px;


}

@media (min-width: 768px) {
  .about-image {
    justify-content: flex-end;
    margin-bottom: 0;
  }
}

.image {
  border-radius: 12px;
  border: 4px solid #00bcd4; /* Cyan border */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s;
  width: 80%;
  max-width: 400px;
}

.image:hover {
  transform: scale(1.05);
}

.about-text {
  flex: 1;
  text-align: left;
  padding: 0 16px;
}

.about-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #00bcd4;
  margin-bottom: 24px;
}

@media (min-width: 768px) {
  .about-title {
    font-size: 3rem;
  }
}

.about-paragraph {
  font-size: 1.125rem;
  color: #b3b3b3;
  margin-bottom: 16px;
  line-height: 1.6;
}
