/* Footer.css */

.footer {
    background-color: #333333; /* Dark gray background */
    color: #ffffff; /* White text */
    text-align: center;
    padding: 24px 0; /* Vertical padding */
  }
  
  .footer-text {
    font-size: 1rem; /* Adjust font size if needed */
    margin: 0; /* Remove default margin */
  }

  span{
    color: #00bcd4;
  }